#root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

body{
  margin: 0;
  padding: 0;
}

.SideBar{
  height: 100vh;
  min-width: 300px;
   /* background:linear-gradient(180deg, #bc18dd 30%, #1aa599 90%) */
   
   background-color: #bc18dd;

   display: flex;
   flex-direction: column;

   align-items: flex-start;
}


